body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.gamepage {
  background-image: url('../assets/images/background.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  margin-bottom: 20px;
}

.menu-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin-bottom: 20px;
}

.content-section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: black;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.characteristic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.characteristic p {
  margin: 0;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress {
  height: 25px;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.age-up-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.age-up-button, .retire-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

.age-up-button:hover, .retire-button:hover {
  background-color: #218838;
}

.game-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}