.game-management {
  background-image: url('../assets/images/colony_on_fire.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.game-management h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.game-management p {
  font-size: 1.5em;
}

.game-management ul {
  list-style-type: none;
  padding: 0;
}

.game-management li {
  margin: 10px 0;
}

.game-management button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-management button:hover {
  background-color: #c82333;
}